.hero{
  width:100%;
  min-height:100vh;
  display:flex;
  align-items:center;
  background: radial-gradient(circle at 20% 30%, rgba(255,255,255,0.1), transparent 40%),
              linear-gradient(135deg,#a33a3a,#b71c1c);
  color:rgb(255, 255, 255);
}

.hero-container{
  width:100%;
  max-width:1400px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 120px;
}

.hero-left h1 {
  font-size:72px;
  font-weight:800;
  line-height:1.1;
  color: white !important;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7) !important;
}

.hero-left p {
  font-size:20px;
  margin-top:20px;
  max-width:500px;
  color: rgba(255,255,255,0.95) !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5) !important;
}

.hero-right img{
  width:420px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float{
  0%{transform:translateY(0);}
  50%{transform:translateY(-12px);}
  100%{transform:translateY(0);}
}

.free-text{
  margin-top:20px;
  display:inline-block;
  border-bottom:2px solid rgb(200, 121, 121);
  padding-bottom:3px;
  color: white;
}